#mediadmyn-browser {
	width: 96%;
	min-width: 908px;
	margin: 40px auto 40px auto;
	padding: 36px 48px;
	background-color: #fff;
	position: relative;
}

#mediadmyn-browser-close {
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	top: -12px;
	right: -12px;
	background-image: url(../../../rozadmyn/public/img/icons/close.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center center;
	display: none;
}

/**
 * Browser top bar styles
 */
#mediadmyn-browser-top-bar {
	margin-bottom: 24px;
}

#mediadmyn-browser-search {
	width: 344px;
	float: right;
}

#mediadmyn-browser-actions {
	float: left;
}

#mediadmyn-browser-actions li {
	float: left;
	margin-right: 16px;
}

#mediadmyn-browser-actions li:last-child {
	margin-right: 0px;
}

#mediadmyn-browser-actions .confirm-selection {
	width: 160px;
}

/**
 * Browser pagination styles
 */
#mediadmyn-browser .pagination {
	display: block;
	position: relative;
	margin-bottom: 24px;
}

#mediadmyn-browser .pagination li {
	display: inline;
}

#mediadmyn-browser .pagination li:not(:last-child):after {
	display: inline;
	content: " | ";
}

#mediadmyn-browser .pagination li a.active {
	color: #000;
	cursor: default;
}

/**
 * Browser styles
 */
#mediadmyn-browser-files {
	width: 76%;
	float: left;
	margin-left: -1.66667%;
}

#mediadmyn-browser-files > * {
	margin-left: 1.66667%;
}

#mediadmyn-browser-intro {
	margin-bottom: 24px;
}

.mediadmyn-file-thumbnail {
	padding-top: 15%;
	width: 15%;
	float: left;
	margin-bottom: 1.66667%;
	background-color: #f9f9f9;
	border: 2px solid #ccc;
	border-radius: 4px;
	position: relative;
}

.mediadmyn-file-thumbnail:hover,
.mediadmyn-file-thumbnail.selected {
	border-color: #5bb5dd;
}

.mediadmyn-file-thumbnail:hover:after,
.mediadmyn-file-thumbnail.selected:after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.4); 
}

.mediadmyn-file-thumbnail:hover {
	cursor: pointer;
}

.mediadmyn-file-thumbnail.selected:before {
	content: attr(data-index);
	display: block;
	width: 36px;
	height: 36px;
	position: absolute;
	line-height: 36px;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	color: #fff;
	top: 0px;
	right: 0px;
	border-bottom-left-radius: 4px;
	border-left: 2px solid #5bb5dd;
	border-bottom: 2px solid #5bb5dd;
	background-color: rgba(91, 181, 221, 0.5);
/*	background-image: url(../../../rozadmyn/public/img/icons/success.png);
	background-repeat: no-repeat;
	background-size: 29px 24px;
	background-position: center center;*/
	z-index: 10;
}

.mediadmyn-file-thumbnail .preview {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	position: absolute;
}

.mediadmyn-file-thumbnail.file .preview {
    bottom: 44px;
    top: 8px;
    left: 8px;
    right: 8px;
}

.mediadmyn-file-thumbnail .info {
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	background-color: #e9eff5; /* rgba(233, 239, 245, 0.7); */
	padding: 0px 8px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.mediadmyn-file-thumbnail .details {
	display: none;
}

#mediadmyn-browser-selected {
	display: none;
}

#mediadmyn-browser-files.loading .pagination:after {
	display: block;
	content: "";
	height: 48px;
	width: 48px;
	background-image: url(../../../rozadmyn/public/img/loading.gif);
	background-repeat: no-repeat;
	background-size: 48px 48px;
	bottom: -72px;
	left: 50%;
	margin-left: -24px;
	position: absolute;
}

#mediadmyn-browser-files.loading .pagination ~ .mediadmyn-file-thumbnail {
	display: none;
}

/**
 * Image thumbnails
 */
.mediadmyn-file-thumbnail.image .preview {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/**
 * Details styles
 */
#mediadmyn-browser-details {
	width: 23%;
	min-height: 200px;
	float: right;
	background-color: #f9f9f9; 
	padding: 24px;
}

#mediadmyn-browser-details #mediadmyn-browser-details-filled {
	display: none;
}

#mediadmyn-browser-details.filled #mediadmyn-browser-details-filled {
	display: block;
}

#mediadmyn-browser-details.filled #mediadmyn-browser-details-empty {
	display: none;
}

#mediadmyn-browser-details .preview {
	height: 120px;
	position: relative;
}

#mediadmyn-browser-details .preview img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 120px;
	display: block;
}

#mediadmyn-browser-details .details {
	margin-top: 8px;
}

#mediadmyn-browser-details .details table td {
	font-size: 13px;
	padding: 2px 0px;
}

#mediadmyn-browser-details .details table td.file-name {
	font-weight: 600;
}

#mediadmyn-browser-details .details table td:first-child {
	font-weight: 600;
	display: none;
}

/**
 * Adaptive styles
 */
@media screen and (max-width: 1024px) {
	#mediadmyn-browser-files {
		margin-left: -2%;
	}

	#mediadmyn-browser-files > * {
		margin-left: 2%;
	}
	
	.mediadmyn-file-thumbnail {
		width:			23%;
		padding-top:	23%;
		margin-bottom:	2%;
	}
}