.rozadmyn-autocomplete-list {
	background-color: #fff;
	max-height: 144px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	border-top: none;
}

.rozadmyn-autocomplete-list li {
	height: 32px;
}


.rozadmyn-autocomplete-list li a:hover {
	text-decoration: none;
}

.rozadmyn-autocomplete-list li.active a {
	background-color: #ccc;
	color: #333;
}

.rozadmyn-autocomplete-list li a {
	display: block;
	height: 100%;
	line-height: 32px;
	padding: 0 12px;
}