#overlay-content .dialog {
	width: 36%;
	height: 256px;
	background-color: #fff;
	position: absolute;
	padding: 24px;
	top: 50%;
	left: 50%;
	margin-top: -128px;
	margin-left: -18%;
}

#overlay-content .dialog .buttons {
	position: absolute;
	text-align: right;
	bottom: 24px;
	left: 24px;
}

#overlay-content .dialog .buttons a {
	margin-right: 24px;
}

/* Confirmation styles */
#overlay-content .dialog.confirmation  {
	text-align: center;
	height: 160px;
	margin-top: -80px;
}

#overlay-content .dialog.confirmation h2 {
	display: none;
}

#overlay-content .dialog.confirmation .cancel:focus {
	text-decoration: underline;
}