.dt-wrapper {
	background-color: #fff;
	-webkit-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	-moz-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
}

.dt-wrapper:before,
.dt-wrapper:after {
	content:"";
	display:table;
}

.dt-wrapper:after {
	clear:both;
}

.dt-wrapper.date .dt-calendar {
	display: block;
}

.dt-wrapper.time .dt-clock-wrapper {
	display: block;
}

.dt-wrapper.date.time .dt-calendar {
	border-right: 1px solid #3c3c3c;
}

/**
 * Calendar styles
 */
.dt-calendar {
	float: left;
	position: relative;
	display: none;
}

.dt-calendar thead {
	background-color: #3c3c3c;
	color: #fff;
}

.dt-calendar tr:before,
.dt-calendar tr:after {
	content:"";
	display:table;
}

.dt-calendar tr:after {
	clear:both;
}

.dt-calendar th,
.dt-calendar td {
	text-align: center;
}

.dt-calendar th:first-letter {
	text-transform: uppercase;
}

.dt-calendar tbody td.active,
.dt-calendar tbody td:not(:empty):hover {
	color: #fff;
	cursor: pointer;
	background-color: #5bb5dd;
}

.dt-calendar td:empty {
	
}

.dt-calendar-nav a {
	position: absolute;
	top: 8px;
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-size: contain;
}

.dt-calendar-nav a.prev {
	left: 16px;
	background-image: url(../img/icons/prev.png);
	background-position: left center;
}

.dt-calendar-nav a.next {
	right: 16px;
	background-image: url(../img/icons/next.png);
	background-position: right center;
}

.dt-calendar-nav a:hover {
	text-decoration: none;
}

.dt-calendar thead,
.dt-calendar tbody,
.dt-calendar tr,
.dt-calendar th,
.dt-calendar td {
	display: block;
}

.dt-calendar th,
.dt-calendar td {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
}


.dt-calendar th[colspan="7"],
.dt-calendar td[colspan="7"] {
	width: 100%;
}

/**
 * Clock styles
 */
.dt-clock-wrapper {
	float: left;
	padding: 48px 24px 24px 24px;
	text-align: center;
	display: none;
}

.dt-clock {
	border-radius: 50%;
	height: 160px;
	width: 160px;
	position: relative;
	border: 4px solid #3c3c3c;
	margin: 0 24px;
}

.dt-clock .dt-clock-marker {
	width: 4px;
	height: 100%;
	position: absolute;
	background-color: #3c3c3c;
	top: 0;
	left: 50%;
	margin-left: -2px;
}

.dt-clock .dt-clock-marker-2 { transform: rotate(30deg); }
.dt-clock .dt-clock-marker-3 { transform: rotate(60deg); }
.dt-clock .dt-clock-marker-4 { transform: rotate(90deg); }
.dt-clock .dt-clock-marker-5 { transform: rotate(120deg); }
.dt-clock .dt-clock-marker-6 { transform: rotate(150deg); }

.dt-clock-face {
	width: 92%;
	height: 92%;
	margin: 4% auto;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
}

.dt-clock-face:before {
	content: "";
	display: block;
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #3c3c3c;
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px;
	z-index: 5;
}

.dt-clock-face .dt-clock-hand {
	top: 0;
	left: 50%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	transition: transform 1s ease-in;
}

.dt-clock-face .dt-clock-hand:before {
	background-color: #3c3c3c;
	content: "";
	display: block;
	width: 100%;
	position: absolute;
}

.dt-clock-face .dt-clock-hour-hand {
	margin-left: -2px;
	width: 4px;
}

.dt-clock-face .dt-clock-hour-hand:before {
	height: 30%;
	top: 20%;
}

.dt-clock-face .dt-clock-minute-hand {
	margin-left: -2px;
	width: 4px;
	transform: rotate(60deg);
}

.dt-clock-face .dt-clock-minute-hand:before {
	height: 40%;
	top: 10%;
}

.dt-clock-face .dt-clock-second-hand {
	margin-left: -1px;
	width: 2px;
	transform: rotate(120deg);
}

.dt-clock-face .dt-clock-second-hand:before {
	height: 45%;
	top: 5%;
}

.dt-digital-clock {
	margin: 24px auto 0 auto;
	font-size: 28px;
	height: 40px;
}

input.dt-clock-input {
	width: 48px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	margin: 0 4px;
}

input.dt-clock-input:focus {
	outline: none;
	box-shadow: none;
	border-color: inherit;
}