.flag {
	background-repeat: no-repeat;
}

a.flag {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	display: inline-block;
	background-size: cover;
}

a.flag.inactive {
	opacity: 0.3;
}

input.flag {
	padding-left: 40px;
}

.flag.nl {	background-image: url(../img/flags/nl.png); }
.flag.en {	background-image: url(../img/flags/en.png); }
.flag.de {	background-image: url(../img/flags/de.png); }