/**
 * Base form styles.
 */
form {
	padding-bottom: 48px;
	position: relative;
}

/* Apply our clearfix styles to every form by default */
form:before, form:after {
	content: "";
	display: table;
}

form:after {
	clear: both;
}

form label {
	display: inline-block;
	font-weight: 600;
	position: relative;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form .form-element-wrapper {
	position: relative;
}

/**
 * Generic styles for all inputs.
 */
form input,
form select,
form textarea,
form .form-element,
form textarea + div.cke_chrome {
	width: 100%;
	padding: 0px 12px;
	line-height: 36px;
	border-radius: 4px;
	font-size: 14px;
	display: block;
}

form textarea + div.cke_chrome {
	padding: 0px;
	overflow: hidden;
}

form input:not([type=checkbox]):not([type=radio]) {
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 24px 24px;
}

form textarea {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 24px;
}

form input,
form select,
form .form-element {
	height: 38px;
}

form textarea {
	height: 160px;
}

form textarea.rich + .cke_editor_text .cke_contents {
	height: 240px !important;
}

form input,
form select,
form textarea,
form .form-element,
form input[type=radio] + label:before,
form input[type=checkbox] + label:before,
form textarea + div.cke_chrome {
	background-color: #fff;
	border: 1px solid #ccc;
}

form input:focus,
form textarea:focus,
form .form-element.focus,
form input[type=radio]:not(:checked):focus + label:before,
form input[type=checkbox]:not(:checked):focus + label:before,
form textarea + div.cke_chrome.cke_focus {
	outline: none;
	border-color: #5bb5dd;
	box-shadow: 0px 0px 1px 1px rgba(91, 181, 221, .75);
}

/**
 * Styles for disabled buttons
 */
.disabled a.button,
.disabled input,
.disabled select,
.disabled textarea,
.disabled .form-element,
a.button.disabled,
input:disabled,
select:disabled,
textarea:disabled,
.form-element.disabled {
	background-color: #eee !important;
	border-color: #ccc !important;
	box-shadow: none !important;
	outline: none !important;
	color: #777 !important;
	cursor: default;
}

/**
 * Styles for search inputs
 */
input.search {
	color: #777;
	padding-left: 40px;
	background-image: url(../img/icons/search.png);
}

/**
 * Styles for checkboxes and radio buttons.
 */
form input[type=radio],
form input[type=checkbox],
form input[type=radio] + label:before,
form input[type=checkbox] + label:before,
form input[type=radio] + label:after,
form input[type=checkbox] + label:after {
	padding: 0px;
	height: 16px;
}

form input[type=radio],
form input[type=checkbox] {
	opacity: 0;
	z-index: 10;
	display: inline-block;
}

form input[type=radio],
form input[type=checkbox],
form input[type=radio] + label:before,
form input[type=checkbox] + label:before {
	width: 16px;
}

form input[type=radio] + label:before,
form input[type=radio] + label:after,
form input[type=checkbox] + label:before,
form input[type=checkbox] + label:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -24px;
	display: block;
}

form input[type=radio] + label:before,
form input[type=checkbox] + label:before {
	z-index: 1;
}

form input[type=radio] + label:before {
	border-radius: 50%;
}

form input[type=checkbox] + label:before {
	border-radius: 2px;
}

form input[type=radio] + label:after,
form input[type=checkbox] + label:after {
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	z-index: 2;
}

form input[type=checkbox]:checked + label:after {
	background-image: url(../img/icons/checked.png);
}

form input[type=radio]:checked + label:after {
	background-image: url(../img/icons/radio-checked.png);
}

form input[type=radio]:disabled + label:before,
form input[type=checkbox]:disabled + label:before {
	background-color: #ccc;
}

form ul li input[type=checkbox] + label {
	font-weight: 400;
}

/**
 * Styles for file inputs.
 */
form .form-element.file + input {
	opacity: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	cursor: pointer;
	position: absolute;
}

form .form-element.file {
	color: #000;
	overflow: hidden;
	background-color: #fff;
	z-index: 1;
}

form .form-element.file:after {
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 20%;
	z-index: 2;
	color: #fff;
	display: block;
	position: absolute;
	text-align: center;
	content: attr(data-label);
	background-color: #5bb5dd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**
 * Styles for image file upload previews.
 */
form .preview img {
	max-width: 100%;
	margin-right: 12px;
}

/**
 * Styles for error inputs.
 */
input.error,
select.error,
textarea.error,
.form-element.error {
	box-shadow: 0px 0px 2px 1px rgba(255, 42, 0, 0.75);
}

/**
 * Styles for obligatory inputs.
 */
label + span.obligatory {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 8px;
}

label + span.obligatory:after {
	position: absolute;
	content: "*";
	color: red;
	font-size: 12px;
	top: 0px;
	right: 0px;
}

/**
 * Fieldsets
 */
form fieldset {
	border: 1px solid #ccc;
	padding: 4px 24px 24px 24px;
}

form fieldset legend {
	font-weight: 600;
    background-color: #ccc;
    padding: 0 8px;
    display: block;
    color: #000;
    margin-left: -8px;
    margin-bottom: 8px;
}

/**
 * Base styles for (submit) buttons.
 */
a.button {
	height: 38px;
	line-height: 36px;
	border-radius: 4px;
}

a.button,
form input[type=submit],
form input[type=button] {
	display: inline-block;
	text-align: center;
	padding: 0px 24px;
	cursor: pointer;
	width: auto;
	color: #fff;
	border-width: 1px;
	border-style: solid;
}

a.button:focus,
form input[type=submit]:focus,
form input[type=button]:focus {
	border-color: transparent;
	outline: none;
}

form input[type=submit].loading,
form input[type=button].loading {
	color: rgba(0, 0, 0, 0) !important;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/loading.gif);
}

form > input[type=submit],
form .form-navigation {
	position: fixed;
	bottom: 2rem;
	z-index: 100;
}

form > input[type=submit] {
	right: calc(20% - 190px);
}

form .form-navigation {
	width: calc(100vw - 458px);
	min-width: 1462px;
}

/* Uncomment the following lines and remove the ones above to "unfix" the submit button
form > input[type=submit] {
	float: right;
	margin-top: 24px;
}
*/

/**
 * Styles for action and standard buttons.
 */
.action,
a.button,
form input[type=button] {
	background-color: #5bb5dd;
	border-color: #5bb5dd;
}

.action:hover,
.action:focus,
.action:active,
a.button:hover,
a.button:focus,
a.button:active,
form input[type=button]:hover,
form input[type=button]:focus,
form input[type=button]:active {
	background-color: #60a1c3;
	border-color: #60a1c3;
	text-decoration: none;
}

.action:focus,
.action:active,
form input[type=button]:focus,
form input[type=button]:active {
	box-shadow: 0px 0px 4px 2px rgba(91, 181, 221, .75);
}

a.button.submit,
form input[type=submit] {
	background-color: #34966f;
	border-color: #34966f;
}

a.button.submit:hover,
a.button.submit:focus,
a.button.submit:active,
form input[type=submit]:hover,
form input[type=submit]:focus,
form input[type=submit]:active {
	background-color: #298762;
	border-color: #298762;
}

form input[type=submit]:focus,
form input[type=submit]:active {
	box-shadow: 0px 0px 4px 2px rgba(52, 150, 111, .75);
}

/**
 * Styles for transaction buttons.
 */
.transaction {
	background-color: #37b2e5;
	border-color: #37b2e5;
}

.transaction:hover,
.transaction:focus,
.transaction:active {
	background-color: #4589a5;
	border-color: #4589a5;	
}

.transaction:focus,
.transaction:active {
	box-shadow: 0px 0px 4px 2px rgba(91, 181, 221, .75);
}

/**
 * Form timeline
 */
.form-timeline {
	height: 100px;
	border: 2px solid #fff;
	background-color: #e9eff5;
	border-radius: 4px;
	padding: 12px;
	text-align: center;
	margin-bottom: 24px;
	white-space: nowrap;
}

.form-timeline ul {
	margin: 48px auto 0px auto;
	display: inline-block;
	white-space: nowrap;
}

.form-timeline ul li {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin-right: 16px;
	position: relative;
	white-space: nowrap;
}

.form-timeline ul li:last-child {
	margin-right: 0px;
}

.form-timeline ul li a {
	display: block;
	position: relative;
	color: #3c3c3c;
	font-size: 12px;
}

.form-timeline ul li:before {
	content: "";
	display: block;
	position: absolute;
	width: 104px;
	height: 8px;
	background-color: #fff;
	top: -22px;
	left: -60px;
	z-index: 4;
}

.form-timeline ul li a:before {
	content: "";
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: -28px;
	left: 50%;
	margin-left: -10px;
	border: 3px solid #fff;
	background-color: #ccc;
	z-index: 10;
}

.form-timeline ul li:first-child:before {
	display: none;
}

/* Active */
.form-timeline ul li.active:before,
.form-timeline ul li.completed:before {
	background-color: #5bb5dd;
}

.form-timeline ul li.active a:before,
.form-timeline ul li.completed a:before {
	border-color: #5bb5dd;
	background-color: #5bb5dd;
}

.form-timeline ul li.active a {
	font-weight: 600;
	color: #000;
}

/**
 * Form headers
 */
.form-header {
	margin-bottom: 12px;
}

.form-header h2 {
	margin-bottom: 0px;
}

/**
 * Form groups
 */
.form-group > .form-block {
	margin-top: 0px !important;
}

/**
 * Form blocks.
 */
label ~ label,			fieldset ~ label,		.form-group ~ label,		.form-block ~ label,
label ~ fieldset,		fieldset ~ fieldset,	.form-group ~ fieldset,		.form-block ~ fieldset,
label ~ .form-block,	fieldset ~ .form-block,	.form-block ~ .form-block,	.form-group ~ .form-block,
label ~ .form-group,	fieldset ~ .form-group,	.form-block ~ .form-group,	.form-group ~ .form-group {
	margin-top: 24px;
}

/**
 * Form steps
 */
.form-step {
	display: none;
}

.form-step.active {
	display: block;
}

.form-step-header {
	margin-bottom: 24px;
}

.form-step-header h3 {
	color: #72674a;
	font-size: 16px;
	font-weight: 600;
}

/**
 * Form navigation
 */
.form-navigation {
	margin-top: 24px;
	text-align: right;
	position: relative;
}

.form-navigation .prev,
.form-navigation .left {
	float: left;
}

/**
 * Coachmarks
 */
p.coachmark {
	display: none;
}

.popout-wrapper.coachmark .popout {
	background-color: #5bb5dd;
	border-radius: 4px;
	min-width: 240px;
	max-width: 400px;
	padding: 12px 12px 12px 52px;
	color: rgba(255, 255, 255, 0.75);
	position: relative;
	-webkit-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	-moz-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
}

.popout-wrapper.coachmark .popout:before {
	top: 0px;
	left: 0px;
	bottom: 0px;
	content: "";
	z-index: 10;
	width: 40px;
	opacity: 0.75;
	display: block;
	position: absolute;
    background-repeat: no-repeat;
	background-position: center center;
	border-right: 1px solid rgba(255, 255, 255, 0.75);
	background-image: url(../img/icons/info.png);
	background-size: 21px 24px;
}

.popout-wrapper.coachmark .popout:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -8px;
	margin-left: -8px;
	height: 16px;
	width: 16px;
	background-color: #5bb5dd;
	transform: rotate(45deg);
	
}

/**
 * Misc
 */

/* The form intro */
form > p {
	margin-bottom: 24px;
}