#wrapper {
	background-size: cover;
	background-repeat: no-repeat;
}

#login-form {
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, .75);
	background-color: #fff;
	margin-left: -180px;
	margin-top: -180px;
	position: absolute;
	padding: 24px;
	width: 360px;
	left: 50%;
	top: 50%;
}