body, html {
	height: 100%;
}

body {
	font-family: "Open Sans", Lato;
	font-size: 14px;
	line-height: 24px;
}

#wrapper {
	position: relative;
	min-height: 100%;
	color: #3c3c3c;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 600;
}

/**
 * Flash messages 
 */
.flash {
	padding: 0px 8px 0px 56px;
    line-height: 36px;
    color: rgba(255, 255, 255, .75);
    border-radius: 4px;
	position: relative;
	margin-bottom: 12px;
}

.flash:before {
	top: 0px;
	left: 0px;
	bottom: 0px;
	content: "";
	z-index: 10;
	width: 40px;
	opacity: 0.75;
	display: block;
	position: absolute;
    background-repeat: no-repeat;
	background-position: center center;
	border-right: 1px solid rgba(255, 255, 255, 0.75);
}

.flash.info {
	background-color: #5bb5dd;
}

.flash.error {
	background-color: #ff2a00;
}

.flash.success {
	background-color: #34966f;
}

.flash.warning {
	background-color: #ecd185;
}

.flash.info:before {
	background-image: url(../img/icons/info.png);
	background-size: 21px 24px;
}

.flash.error:before {
	background-image: url(../img/icons/error.png);
	background-size: 24px 24px;
}

.flash.success:before {
	background-image: url(../img/icons/success.png);
	background-size: 29px 24px;
}

/**
 * Misc
 */
ul.languages {
	margin-top: 8px;
}

ul.languages > li {
	float: left;
	margin-right: 8px;
}

ul.languages {
	margin-bottom: 16px;
}

/**
 * Grid-based styles
 */
[class^='col-'],
[class^='grid-']  > *,
[class*=' col-'],
[class*=' grid-'] > * {	
	float: left; 
	margin-right: 2%;
}

[class^='col-']:last-child,
[class^='grid-'] > *:last-child,
[class*=' col-']:last-child,
[class*=' grid-'] > *:last-child {
	margin-right: 0px;
}

.col-1, .grid-1 > * { width: 100%; }
.col-2, .grid-2 > * { width: 49%; }
.col-3, .grid-3 > * { width: 32%; }
.col-4, .grid-4 > * { width: 23.5%; }
.col-5, .grid-5 > * { width: 18.4%; }

h2 {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 12px;
}