html.overlay,
body.overlay {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#overlay-wrapper {
	background-color: rgba(0,0,0,0.8);
	overflow-y: auto;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#overlay-content {
	overflow: auto;
	position: relative;
	height: 100%;
}