h2 {
	margin-bottom: 0;
}

.overview {
	margin-top: 0px;
}

.overview .overview-top {
	padding-bottom: 24px;
}

.overview.fixed .overview-top {
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #f9f9f9;
}

.overview.fixed .overview-top .search-wrapper {
	margin-top: 16px;
}

.overview table {
	width: 100%;
	background-color: #fff;
	padding: 4px;
	clear: both;
	font-size: 0.875rem;
	line-height: 1rem;
}

.overview.fixed table {
	margin-top: 140px;
}

.overview.fixed table thead {
	position: fixed;
	top: 0;
	z-index: 10;
}

.overview table th {
	background-color: #3c3c3c;
}

.overview table th,
.overview table th a {
	font-weight: 600;
	position: relative;
	color: #fff;
}

.overview table th.sorted {
	padding-right: 32px;
}

.overview table th.sorted a:after {
	position: absolute;
	display: inline-block;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 8px;
	width: 12px;
	top: 50%;
	margin-top: -4px;
	right: -24px;
}

.overview table th.sorted.asc a:after {
	background-image: url(../img/sorted-asc.png);
}

.overview table th.sorted.desc a:after {
	background-image: url(../img/sorted-desc.png);
}

.overview table th a:hover,
.overview table th a:focus {
	text-decoration: none;
	cursor: pointer;
}

.overview table th,
.overview table td {
	text-align: left;
	vertical-align: top;
	padding: 4px;
}

.overview table th:first-child,
.overview table td:first-child {
	width: 36px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	vertical-align: middle;
}

.overview table th:first-child label,
.overview table td:first-child label {
	display: inline-block;
	height: 16px;
}

.overview table tr:nth-child(odd) td {
	background-color: #e9eff5;
}

.overview table a.flag {
	margin-right: 4px;
}

.overview table .yes,
.overview table .no {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin-top: 12px;
	text-indent: -9999px;
}

.overview table .yes {
	background-size: 24px 19px;
	background-image: url(../img/icons/checked.png);
}

.overview table .no {
	background-size: 20px 20px;
	background-image: url(../img/icons/close-2.png);
}

/**
 * Pagination styles
 */
.overview .pagination {
	display: block;
	position: relative;
	margin-top: 16px;
	float: left;
}

.overview .pagination li {
	display: inline;
}

.overview .pagination li:not(:last-child):after {
	display: inline;
	content: " | ";
}

.overview .pagination li a.active {
	color: #000;
	cursor: default;
}

/**
 * Overview top section
 */
.overview .mass-actions-wrapper {
	float: left;
	width: 60%;
	line-height: 38px;
}

.overview .search-wrapper {
	float: right;
	width: 40%;
}

/**
 * Action styles
 */
.overview .actions li {
	display: inline-block;
	padding-left: 2px;
	position: relative;
}

.overview .actions li:first-child {
	padding-left: 0;
}

.overview .actions li:before {
	content: "|";
	padding-right: 4px;
	display: inline-block;
}

.overview .actions li:first-child:before {
	content: "";
	display: none;
}

.overview .actions.batch {
	display: inline;
}

.overview table tr td .actions {
	visibility: hidden;
}

.overview table tr:hover td .actions {
	visibility: visible;
}

/**
 * Batch action styles
 */
.overview .batch-actions-wrapper {
	line-height: 38px;
}

/**
 * Styles for specific actions.
 */
#content .overview .actions a.delete,
#content .overview .actions a.delete_batch {
	color: #ff2a00;
}