#top-menu {
	height: 36px;
	background-color: #2d2b2b;
	line-height: 36px;
	color: #fff;
	padding: 0 24px;
}

#wrapper {
	background-color: #f9f9f9;
	min-width: 1920px;
}

#content {
	margin-left: 200px;
	padding: 24px;
	padding-bottom: 48px;
	width: 80%;
}

/* Misc */
a {
	color: #5bb5dd;
}

a:hover,
a:focus {
	text-decoration: underline;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
	padding: 6px;
}

/**
 * Tablet styles
 */
@media screen and (max-width: 1160px) {
	#content {
		width: auto;
	}
}
