#sidebar {
	background-color: #3c3c3c;
	color: #fff;
	width: 200px;
	position: absolute;
	top: 36px;
	left: 0px;
	bottom: 0px;
}

/* User menu styles */
#user-menu {
	height: 96px;
	padding-top: 16px;
	padding-left: 16px;
}

#user-menu a {
	color: #fff;
}

#user-menu a:hover {
	text-decoration: underline;
}

/* Navigation styles */
#main-nav > ul > li {
	font-size: 14px;
	font-weight: 600;
	background-color: #2d2b2b;
	transition: background-color 0.2s;
	border-top: 1px solid #3c3c3c;
}

#main-nav > ul > li:first-child {
	border-top: none;
}

#main-nav > ul > li > a {
	line-height: 36px;
	transition: background-color 0.2s;
	position: relative;
}

#main-nav > ul > li > a:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -8px;
	width: 9px;
	height: 16px;
	background-image: url(../img/icons/expand.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: transform 0.2s;
	opacity: 0.5;
}

#main-nav > ul > li > ul {
	transition: padding 0.2s;
}

#main-nav > ul > li > ul > li {
	height: 0px;
	overflow: hidden;
	transition: height 0.2s;
}

#main-nav > ul > li > ul > li a {
	font-size: 13px;
	font-weight: normal;
	color: #72674a;
}

#main-nav > ul > li > ul > li a:hover {
	text-decoration: underline;
}

#main-nav a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
}

/* Active styles */
#main-nav > ul > li.active > a:after {
	transform: rotate(90deg);
}

#main-nav > ul > li.active > ul {
	padding: 8px 0px;
}

#main-nav > ul > li.active > ul > li {
	height: 24px;
}

#main-nav > ul > li > ul > li.active a {
	font-weight: 700;
}