.user-thumbnail-wrapper:before {
	content: "";
	display: inline-block;
	height: 64px; /* Need to set a hard value because floating parents mess with 100% heights */
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.user-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.user-thumbnail-wrapper .user-info {
	margin-left: 12px;
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 84px);
}

.user-thumbnail-wrapper .user-name {
	color: #fff;
	font-weight: 600;
}