#mediadmyn-file-info-wrapper {
	width: 42%;
	float: left;
	padding-left: 48px;
}

#mediadmyn-file-info-wrapper img {
	max-width: 100%;
	margin-bottom: 6px;
}

#mediadmyn-file-info-wrapper table {
	margin-top: -6px;
}

#mediadmyn-file-info-wrapper table tr td:first-child {
	font-weight: 600;
}

#mediadmyn-edit-file-form {
	float: left;
	width: 58% !important;
}