html {
	margin: 0px;
	padding: 0px;
}

/* Remove the <h1> tag containing the "Format" text in the format dropdown. */
#cke_55 {
	display: none;
}

.cke_editable blockquote {
	border-left: 2px solid #ccc;
	margin-left: 12px;
	padding-left: 12px;
	font-style: italic;
}

.cke_editable h1 {
	font-size: 36px;
	font-weight: 600;
	color: inherit;
	text-transform: uppercase;
	line-height: 36px;
}

.cke_editable h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	color: inherit;
}

.cke_editable h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	color: #000;
}

.cke_editable h4 {
	font-size: 18px;
	color: #000;
	margin-bottom: 8px;
	margin-top: 24px;
	font-weight: 600;
}

.cke_editable h5 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
}