/**
 * Base form styles.
 */
form.rozyn {
	padding-bottom: 48px;
}

form.rozyn * {
	background-size: auto;
}

/* Apply our clearfix styles to every form by default */
form.rozyn:before, form:after {
	content: "";
	display: table;
}

form.rozyn:after {
	clear: both;
}

form.rozyn label {
	display: inline-block;
	font-weight: 600;
	position: relative;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form.rozyn .form-element-wrapper {
	position: relative;
}

/**
 * Generic styles for all inputs.
 */
form.rozyn input,
form.rozyn select,
form.rozyn textarea,
form.rozyn .form-element,
form.rozyn textarea + div.cke_chrome {
	width: 100%;
	padding: 0px 12px;
	line-height: 36px;
	border-radius: 4px;
	font-size: 14px;
	display: block;
}

form.rozyn textarea + div.cke_chrome {
	padding: 0px;
	overflow: hidden;
}

form.rozyn input:not([type=checkbox]):not([type=radio]) {
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 24px 24px;
}

form.rozyn textarea {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 24px;
}

form.rozyn input,
form.rozyn select,
form.rozyn .form-element {
	height: 38px;
}

form.rozyn textarea {
	height: 160px;
}

form.rozyn textarea.rich + .cke_editor_text .cke_contents {
	height: 240px !important;
}

form.rozyn input,
form.rozyn select,
form.rozyn textarea,
form.rozyn .form-element,
form.rozyn input[type=radio] + label:before,
form.rozyn input[type=checkbox] + label:before,
form.rozyn textarea + div.cke_chrome {
	background-color: #fff;
	border: 1px solid #ccc;
}

form.rozyn input:focus,
form.rozyn textarea:focus,
form.rozyn .form-element.focus,
form.rozyn input[type=radio]:not(:checked):focus + label:before,
form.rozyn input[type=checkbox]:not(:checked):focus + label:before,
form.rozyn textarea + div.cke_chrome.cke_focus {
	outline: none;
	border-color: #5bb5dd;
	box-shadow: 0px 0px 1px 1px rgba(91, 181, 221, .75);
}

/**
 * Styles for disabled buttons
 */
form.rozyn .disabled a.button,
form.rozyn .disabled input,
form.rozyn .disabled select,
form.rozyn .disabled textarea,
form.rozyn .disabled .form-element,
form.rozyn a.button.disabled,
form.rozyn input:disabled,
form.rozyn select:disabled,
form.rozyn textarea:disabled,
form.rozyn .form-element.disabled {
	background-color: #eee !important;
	border-color: #ccc !important;
	box-shadow: none !important;
	outline: none !important;
	color: #777 !important;
	cursor: default;
}

/**
 * Styles for search inputs
 */
form.rozyn input.search {
	color: #777;
	padding-left: 40px;
	background-image: url(../../img/rozyn/icons/search.png);
}

/**
 * Styles for checkboxes and radio buttons.
 */
form.rozyn input[type=radio],
form.rozyn input[type=checkbox],
form.rozyn input[type=radio] + label:before,
form.rozyn input[type=checkbox] + label:before,
form.rozyn input[type=radio] + label:after,
form.rozyn input[type=checkbox] + label:after {
	padding: 0px;
	height: 16px;
}

form.rozyn input[type=radio],
form.rozyn input[type=checkbox] {
	opacity: 0;
	z-index: 10;
	display: inline-block;
}

form.rozyn input[type=radio],
form.rozyn input[type=checkbox],
form.rozyn input[type=radio] + label:before,
form.rozyn input[type=checkbox] + label:before {
	width: 16px;
}

form.rozyn input[type=radio] + label:before,
form.rozyn input[type=radio] + label:after,
form.rozyn input[type=checkbox] + label:before,
form.rozyn input[type=checkbox] + label:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -24px;
	display: block;
}

form.rozyn input[type=radio] + label:before,
form.rozyn input[type=checkbox] + label:before {
	z-index: 1;
}

form.rozyn input[type=radio] + label:before {
	border-radius: 50%;
}

form.rozyn input[type=checkbox] + label:before {
	border-radius: 2px;
}

form.rozyn input[type=radio] + label:after,
form.rozyn input[type=checkbox] + label:after {
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	z-index: 2;
}

form.rozyn input[type=checkbox]:checked + label:after {
	background-image: url(../../img/rozyn/icons/checked.png);
}

form.rozyn input[type=radio]:checked + label:after {
	background-image: url(../../img/rozyn/icons/radio-checked.png);
}

form.rozyn input[type=radio]:disabled + label:before,
form.rozyn input[type=checkbox]:disabled + label:before {
	background-color: #ccc;
}

form.rozyn ul li input[type=checkbox] + label {
	font-weight: 400;
}

/**
 * Styles for file inputs.
 */
form.rozyn .form-element.file + input {
	opacity: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	cursor: pointer;
	position: absolute;
}

form.rozyn .form-element.file {
	color: #000;
	overflow: hidden;
	background-color: #fff;
	z-index: 1;
}

form.rozyn .form-element.file:after {
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 20%;
	z-index: 2;
	color: #fff;
	display: block;
	position: absolute;
	text-align: center;
	content: attr(data-label);
	background-color: #5bb5dd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**
 * Styles for image file upload previews.
 */
form.rozyn .preview img {
	max-width: 100%;
	margin-right: 12px;
}

/**
 * Styles for error inputs.
 */
form.rozyn input.error,
form.rozyn select.error,
form.rozyn textarea.error,
form.rozyn .form-element.error {
	box-shadow: 0px 0px 2px 1px rgba(255, 42, 0, 0.75);
}

/**
 * Styles for obligatory inputs.
 */
form.rozyn label + span.obligatory {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 8px;
}

form.rozyn label + span.obligatory:after {
	position: absolute;
	content: "*";
	color: red;
	font-size: 12px;
	top: 0px;
	right: 0px;
}

/**
 * Fieldsets
 */
form.rozyn fieldset {
	border: 1px solid #ccc;
	padding: 4px 24px 24px 24px;
}

form.rozyn fieldset legend {
	font-weight: 600;
    background-color: #ccc;
    padding: 0 8px;
    display: block;
    color: #000;
    margin-left: -8px;
    margin-bottom: 8px;
}

/**
 * Base styles for (submit) buttons.
 */
form.rozyn a.button {
	height: 38px;
	line-height: 36px;
	border-radius: 4px;
}

form.rozyn a.button,
form.rozyn input[type=submit],
form.rozyn input[type=button] {
	display: inline-block;
	text-align: center;
	padding: 0px 24px;
	cursor: pointer;
	width: auto;
	color: #fff;
	border-width: 1px;
	border-style: solid;
}

form.rozyn a.button:focus,
form.rozyn input[type=submit]:focus,
form.rozyn input[type=button]:focus {
	border-color: transparent;
	outline: none;
}

form.rozyn > input[type=submit] {
	float: right;
	margin-top: 24px;
}

form.rozyn input[type=submit].loading,
form.rozyn input[type=button].loading {
	color: rgba(0, 0, 0, 0) !important;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../../img/rozyn/loading.gif);
}

/**
 * Styles for action and standard buttons.
 */
form.rozyn .action,
form.rozyn a.button,
form.rozyn input[type=button] {
	background-color: #5bb5dd;
	border-color: #5bb5dd;
}

form.rozyn .action:hover,
form.rozyn .action:focus,
form.rozyn .action:active,
form.rozyn a.button:hover,
form.rozyn a.button:focus,
form.rozyn a.button:active,
form.rozyn input[type=button]:hover,
form.rozyn input[type=button]:focus,
form.rozyn input[type=button]:active {
	background-color: #60a1c3;
	border-color: #60a1c3;
	text-decoration: none;
}

form.rozyn .action:focus,
form.rozyn .action:active,
form.rozyn input[type=button]:focus,
form.rozyn input[type=button]:active {
	box-shadow: 0px 0px 4px 2px rgba(91, 181, 221, .75);
}

form.rozyn a.button.submit,
form.rozyn input[type=submit] {
	background-color: #34966f;
	border-color: #34966f;
}

form.rozyn a.button.submit:hover,
form.rozyn a.button.submit:focus,
form.rozyn a.button.submit:active,
form.rozyn input[type=submit]:hover,
form.rozyn input[type=submit]:focus,
form.rozyn input[type=submit]:active {
	background-color: #298762;
	border-color: #298762;
}

form.rozyn input[type=submit]:focus,
form.rozyn input[type=submit]:active {
	box-shadow: 0px 0px 4px 2px rgba(52, 150, 111, .75);
}

/**
 * Styles for transaction buttons.
 */
form.rozyn .transaction {
	background-color: #37b2e5;
	border-color: #37b2e5;
}

form.rozyn .transaction:hover,
form.rozyn .transaction:focus,
form.rozyn .transaction:active {
	background-color: #4589a5;
	border-color: #4589a5;	
}

form.rozyn .transaction:focus,
form.rozyn .transaction:active {
	box-shadow: 0px 0px 4px 2px rgba(91, 181, 221, .75);
}

/**
 * Form headers
 */
form.rozyn .form-header {
	margin-bottom: 12px;
}

form.rozyn .form-header h2 {
	margin-bottom: 0px;
}

/**
 * Form groups
 */
form.rozyn .form-group > .form-block {
	margin-top: 0px !important;
}

/**
 * Form blocks.
 */
form.rozyn label ~ label,		form.rozyn fieldset ~ label,		form.rozyn .form-group ~ label,			form.rozyn .form-block ~ label,
form.rozyn label ~ fieldset,	form.rozyn fieldset ~ fieldset,		form.rozyn .form-group ~ fieldset,		form.rozyn .form-block ~ fieldset,
form.rozyn label ~ .form-block,	form.rozyn fieldset ~ .form-block,	form.rozyn .form-block ~ .form-block,	form.rozyn .form-group ~ .form-block,
form.rozyn label ~ .form-group,	form.rozyn fieldset ~ .form-group,	form.rozyn .form-block ~ .form-group,	form.rozyn .form-group ~ .form-group {
	margin-top: 24px;
}

/**
 * Form steps
 */
form.rozyn .form-step {
	display: none;
}

form.rozyn .form-step.active {
	display: block;
}

form.rozyn .form-step-header {
	margin-bottom: 24px;
}

form.rozyn .form-step-header h3 {
	color: #72674a;
	font-size: 16px;
	font-weight: 600;
}

/**
 * Form navigation
 */
form.rozyn .form-navigation {
	margin-top: 24px;
	text-align: right;
}

form.rozyn .form-navigation .prev,
form.rozyn .form-navigation .left {
	float: left;
}

/**
 * Coachmarks
 */
form.rozyn p.coachmark {
	display: none;
}

.popout-wrapper.coachmark .popout {
	background-color: #5bb5dd;
	border-radius: 4px;
	min-width: 240px;
	max-width: 400px;
	padding: 12px 12px 12px 52px;
	color: rgba(255, 255, 255, 0.75);
	position: relative;
	-webkit-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	-moz-box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
	box-shadow: -4px 3px 12px -5px rgba(51,51,51,1);
}

.popout-wrapper.coachmark .popout:before {
	top: 0px;
	left: 0px;
	bottom: 0px;
	content: "";
	z-index: 10;
	width: 40px;
	opacity: 0.75;
	display: block;
	position: absolute;
    background-repeat: no-repeat;
	background-position: center center;
	border-right: 1px solid rgba(255, 255, 255, 0.75);
	background-image: url(../../img/rozyn/icons/info.png);
	background-size: 21px 24px;
}

.popout-wrapper.coachmark .popout:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -8px;
	margin-left: -8px;
	height: 16px;
	width: 16px;
	background-color: #5bb5dd;
	transform: rotate(45deg);
}

/**
 * Misc
 */

/* The form intro */
form.rozyn > p {
	margin-bottom: 24px;
}