html.overlay,
body.overlay {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

#overlay-wrapper {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: fixed;
	overflow: hidden;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.8);
}

#overlay-content {
	min-height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}